@{
    ViewData["Title"] = "My collections";
}

<div class="row">
    <div class="col-md-6">
        <h2>MY COLLECTIONS</h2>
    </div>
    <div class="col-md-6 text-md-end">
        <a class="btn btn-primary rounded-pill" href="@Url.Action("CreateCollection", "Collection", new { userName = User.Identity.Name })">
            Create new collection</a>
    </div>
</div>