html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.button-size {
    width: 140px;
}

.image-size {
    width: 300px;
    height: 300px;
}

.Dark {
    background-color: #1a1a1a;
    color: #fff !important;
}

    .Dark a {
        color: #fff !important;
    }

    .Dark .navbar-nav .nav-item a:hover {
        color: #0077cc !important;
    }

    .Dark .dropdown-menu {
        background-color: #555;
        color: #fff !important;
    }

.clicked-image {
    cursor: pointer;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.uploaded-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.a-custom-hover:hover {
    transform: scale(1.0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 255, 0.12), 0 4px 8px rgba(0, 0, 255, 0.06);
}

.like-button {
    text-decoration: none;
    color: #0077cc;
}

.noHover {
    pointer-events: none;
}

@keyframes highlightNewComment {
    from {
        background-color: #ffeb3b;
    }

    to {
        background-color: transparent;
    }
}

.new-comment {
    animation: highlightNewComment 2s ease-out;
}
