@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5 text-center">
    <h1 class="display-3 mb-4"><b>COLLECTION<span class="text-primary">HUB</span></b></h1>

    <p class="lead mb-0"><b>@Localizer["descriptionPart1"]</b></p>
    <p class="lead mb-4"><b>@Localizer["descriptionPart2"]</b></p>

    <div class="mb-5">
        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary me-4 rounded-pill button-size">@Localizer["login"]</a>
        <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-outline-primary rounded-pill button-size">@Localizer["register"]</a>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-center">
        <img src="homeImage1.png" alt="Image 1" class="img-fluid mb-2 me-sm-2 image-size">
        <img src="homeImage2.png" alt="Image 2" class="img-fluid mb-2 me-sm-2 image-size">
        <img src="homeImage3.png" alt="Image 3" class="img-fluid me-sm-2 image-size">
    </div>
</div>
